<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
</head>
<body>
<button onclick="loginAsCompany()">Login as a Company</button>
<button onclick="loginAsEmployee()">Login as an Employee</button>

<script>
    function loginAsCompany() {
        // Redirect to the company panel page
        window.location.href = "http://localhost:8080/company_panel";
    }

    function loginAsEmployee() {
        // Redirect to the employee panel page
        window.location.href = "http://localhost:8080/employee_panel";
    }
</script>
</body>
</html>
